/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #FFFFFF;
   --cor-de-link: #464646;
   --cor-de-texto: #464646;
   --cor-de-fundo-destaque: #EAF2FD;
   --cor-de-botoes-e-figuras: #F5F5F5;
    --cor-de-botao: #2A7AE4;

}

html {

    color: var(--cor-de-link);
    text-align: justify;  
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;

}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 1rem;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/


/*######################################################################################*/
/*Sección Menu*/
.menu, .menu__compra{
    padding: 0rem 4%;
}

.menu__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.188rem;

}

.menu__list {
    display: flex;
    align-items: center;
    width: 83%;
}

.menu__list input {
    margin-left: 1.5rem;
    border: none;
    height: 40px;
    width: 40%;
    align-items: center;
    border-radius: 20px;
    background-color: var(--cor-de-botoes-e-figuras);
}

.botao__login {
    width: 13.4rem;
    height: 3.18rem;
    border-color: #2A7AE4;
    color: #2A7AE4;
    background-color: var(--cor-de-fundo);
}

/*######################################################################################*/
/*seção cabecalhos*/
.cabecalho button{
    border: none;
    padding: 0;
    margin-bottom: 3rem;
    cursor: pointer;
    width: 100%;
}

.cabecalho button img {
    width: 100%;
    height: auto;
}


/*######################################################################################*/
/*Primeiro Menu de Compra*/
.menu__titulo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.37rem;
    margin: 0;
}

.ver__tudo a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;
    color: #2A7AE4;
}

.painel__quadro ul {
    padding: 0;
    margin: 0;
}

.conteiner__titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.painel__geral {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.painel__quadro {
    width: 100%;
    height: auto;
    padding: 0.5rem;
    margin-bottom: 1rem;
    transition: 1.5s background ;
    border-radius: 0.7rem;
}

.painel__quadro:hover {
    background-color: black;
    color: white;
    scale: 1.02;

}



.menu__list__item{
    margin-top: 0.5rem;
}
.menu__list__item img {
    width: 100%;
    height: 100%;
}

.produto__texto{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 0.88rem;
    line-height: 1rem;
}

.preco__texto{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.19rem;
}

li.linkproduto__texto a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.19rem;

    /* Azul/100% */
    color: #2A7AE4;
}

.ultimo__quadro{
    margin: 0;
}




/*######################################################################################*/
/*Seção de contatos*/

.contato {
    display: flex;
    justify-content: space-between;
    padding: 4.37rem 3rem;

    background-color: var(--cor-de-fundo-destaque);
}

.formcontato__subtext{
    flex: 0;
    margin-top: 0;
    margin-bottom: 0.5rem;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;
}

.formcontato__form{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: column;
    align-items: stretch;
    border: none;
    width: 100%;
    flex: 2;
}

.formcontato__input {
    border: none;
    height: 3.5rem;
    border-radius: 4px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
}

.formcontato__textarea{
    border: none;
    height: 5.2rem;
    border-radius: 4px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
}

.formcontato__botao {
    width: 144px;
    height: 51px;
    border: none;
    background: var(--cor-de-botao);

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: var(--cor-de-fundo);

    cursor: pointer;
}

.formcontato {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.contato div {
    display: flex;
    align-items: flex-start;
    flex: 1;
}

.lista__contato {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 1;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    text-align: left;
    margin-left: 0.9rem;
    padding-right: 0.6rem;
}

.lista__contato__primeiro {
    margin-top: 0;
    margin-bottom: 1rem;
}

.lista__contato__segundo {
    margin-bottom: 0rem;
}



/*######################################################################################*/
/*Rodape*/
.footer {
    background-color: var(--cor-de-fundo);
    padding-top: 2rem;
}

.footer__rodape{
    font-weight: 500;
    text-align: center;
    padding-bottom: 1rem;
}

div.footer__rodape p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    margin: 0rem; 
}


/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media screen and (min-width: 425px) and (max-width: 768px) {
    /*######################################################################################*/
    /*Sección Menu*/
    .menu, .menu__compra{
        padding: 0rem 4%;
    }

    .menu__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4.5rem;

    }

    .menu__list img {
        width: 6.2rem;
        height: 1.7rem;
    }

    .menu__list {
        display: flex;
        align-items: center;
        width: 83%;

    }

    .menu__list input {
        margin-left: 1.5rem;
        border: none;
        height: 3rem;
        width: 40%;
        align-items: center;
        border-radius: 20px;
        background-color: var(--cor-de-botoes-e-figuras);
    }

    .botao__login {
        width: 13.4rem;
        height: 3rem;
        border-color: #2A7AE4;
        color: #2A7AE4;
        background-color: var(--cor-de-fundo);
    }
    /*######################################################################################*/
    /*seção cabecalhos*/
    .cabecalho button{
        border: none;
        padding: 0;
        margin-bottom: 3rem;
        cursor: pointer;
        width: 100%;
    }
    
    .cabecalho button img {
        width: 100%;
        height: auto;
    }


    /*######################################################################################*/
    /*Primeiro Menu de Compra*/
    .menu__titulo {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.37rem;
        margin: 0;
    }

    .ver__tudo a{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1rem;
        color: #2A7AE4;
    }

    .painel__quadro ul {
        padding: 0;
        margin: 0;
    }

    .conteiner__titulo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .painel__geral {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4rem;
    }

    .painel__quadro {
        width: 100%;
        height: auto;
        padding: 0.5rem;
    }



    .menu__list__item{
        margin-top: 0.5rem;
    }
    .menu__list__item img {
        width: 100%;
        height: 100%;
    }

    .produto__texto{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 0.88rem;
        line-height: 1rem;
    }

    .preco__texto{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.19rem;
    }

    li.linkproduto__texto a{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.19rem;

        /* Azul/100% */
        color: #2A7AE4;
    }

    .ultimo__quadro{
        margin: 0;
    }

    .painel__geral > div:nth-child(n+5) {
        display: none;
    }




    /*######################################################################################*/
    /*Seção de contatos*/

    .contato {
        display: flex;
        justify-content: space-between;
        padding: 4.37rem 3rem;

        background-color: var(--cor-de-fundo-destaque);
    }

    .formcontato__subtext{
        flex: 0;
        margin-top: 0;
        margin-bottom: 0.5rem;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1rem;
    }

    .formcontato__form{
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        flex-direction: column;
        align-items: stretch;
        border: none;
        width: 100%;
        flex: 2;
    }

    .formcontato__input {
        border: none;
        height: 3.5rem;
        border-radius: 4px;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
    }

    .formcontato__textarea{
        border: none;
        height: 5.2rem;
        border-radius: 4px;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
    }

    .formcontato__botao {
        width: 144px;
        height: 51px;
        border: none;
        background: var(--cor-de-botao);

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        color: var(--cor-de-fundo);
    }

    .formcontato {
        flex: 2;
        display: flex;
        flex-direction: column;
    }

    .contato div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1;
        padding-right: 1rem;
    }

    div.lista__contato {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex: 1;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1rem;
        text-align: left;
        margin-left: 0rem;
        padding-right: 0rem;
    }

    .lista__contato__primeiro {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .lista__contato__segundo {
        margin-bottom: 0rem;
    }


}

/*Mobile*/
@media screen and (max-width: 425px) {

    /*######################################################################################*/
    /*Sección Menu*/
    .menu, .menu__compra{
        padding: 0rem 4%;
    }

    .menu__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4.5rem;

    }

    .menu__list img {
        width: 6.2rem;
        height: 1.7rem;
    }

    .menu__list {
        display: flex;
        align-items: center;
        width: 83%;

    }

    .menu__list input {
        margin-left: 0.4rem;
        border: none;
        height: 3rem;
        width: 8.3rem;
        align-items: center;
        border-radius: 20px;
        background-color: var(--cor-de-botoes-e-figuras);
    }

    .botao__login {
        width: 13.4rem;
        height: 3rem;
        border-color: #2A7AE4;
        color: #2A7AE4;
        background-color: var(--cor-de-fundo);
    }

    /*######################################################################################*/
    /*seção cabecalhos*/
    .cabecalho button{
        border: none;
        padding: 0;
        margin-bottom: 3rem;
        cursor: pointer;
        width: 100%;
        height: 12rem;
    }
    
    .cabecalho button img {
        width: 100%;
        height: 100%;


        object-position: -4rem;
        object-fit: cover;
    }


    
    /*######################################################################################*/
    /*Primeiro Menu de Compra*/
    .menu__titulo {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.37rem;
        margin: 0;
    }

    .ver__tudo a{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1rem;
        color: #2A7AE4;
    }

    .painel__quadro ul {
        padding: 0;
        margin: 0;
    }

    .conteiner__titulo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .painel__geral {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4rem;
        flex-wrap: wrap;
    }

    .painel__quadro {
        width: 45%;
        height: auto;
        padding: 0.5rem;
    }

    .menu__list__item{
        margin-top: 0.5rem;
    }
    .menu__list__item img {
        width: 100%;
        height: 100%;
    }

    .produto__texto{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 0.88rem;
        line-height: 1rem;
    }

    .preco__texto{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.19rem;
    }

    li.linkproduto__texto a{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.19rem;

        /* Azul/100% */
        color: #2A7AE4;
    }

    .ultimo__quadro{
        margin: 0;
    }

    .painel__geral > div:nth-child(n+5) {
        display: none;
    }

    
    /*######################################################################################*/
    /*Seção de contatos*/

    .contato {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem 1rem;

        background-color: var(--cor-de-fundo-destaque);
    }

    .formcontato__subtext{
        flex: 0;
        margin-top: 0;
        margin-bottom: 0.5rem;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1rem;

        text-align: justify;
    }

    .formcontato__form{
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        flex-direction: column;
        align-items: stretch;
        border: none;
        width: 100%;
        height: 14rem;
        flex: 2;
    }

    .formcontato__input {
        border: none;
        height: 3.5rem;
        border-radius: 4px;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
    }

    .formcontato__textarea{
        border: none;
        height: 5.2rem;
        border-radius: 4px;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
    }

    .formcontato__botao {
        width: 144px;
        height: 51px;
        border: none;
        background: var(--cor-de-botao);

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        color: var(--cor-de-fundo);
    }

    .formcontato {
        flex: 2;
        display: flex;
        flex-direction: column;
    }

    .contato div {
        display: initial;
        text-align: center;
        align-items: center;
        flex: 0;
        padding-right: 0rem;
    }


    div.lista__contato {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex: 1;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1rem;
        text-align: left;
        margin-left: 0rem;
        padding-right: 0rem;
        margin-bottom: 2rem;
    }

    .lista__contato__primeiro {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .lista__contato__segundo {
        margin-bottom: 0rem;
    }
}   
